body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
}

.searchArea {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.buttonList {
  float: right;
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detailButton {
  display:flex;
  column-gap: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 30px;
  }
  input {
    padding: 15px 5px;
    outline: none;
    margin-bottom: 7px;
    background: transparent;
    background-color: #1618230f;
    border:none;
    border-radius: 10px;

    &:hover {
      background-color: #dedede;
      border: none;
    }
  }

  button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;

    &.active {
      background-color: red;
      color: white;
    }
  }

  button[disabled=disabled], button:disabled {
    color: grey;
  }
}

.customize-table {
  width: inherit;
  overflow-x: auto;
}

.pagination {
  justify-content: center;
}